html,
body {
  margin: 0;
	height: 100%;
}

body {
	color: #212121;
	font-family: "Arial", Arial, Helvetica, sans-serif;
	font-size: 15px;
  line-height: 18px;
	display: flex;
	flex-flow: column;
}
#mainContainer {
	background-color: #E2D4BB;
	background-image: url(/img/34441c67.png);
	background-repeat: repeat;
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
	height: 100%;
}
#main {
	flex: 1 1 auto;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #fff;
	padding: 10px;
	padding-bottom:2em;
	border-right: 1px solid #bdbdbd;
	border-left: 1px solid #bdbdbd;
}
#head {
	background-color:#406099;
	background-image: url(/img/2956eadc.png);
	background-repeat: repeat;

	border-bottom: 1px solid #bdbdbd;
}
#innerhead {
	display: flex;
	justify-content: center; /* align horizontal */
  align-items: center;
	min-height: 300px;
	background-image: url(/img/img.png);
	background-repeat: no-repeat;
  background-position: center center;
}
#innerhead img {
	max-width:100vw;
}
.bg {
	/*background-color: rgba(23, 32, 48, 0.6);*/

	padding: 10px;
}

#site-title {
	font-size: 30px;
  line-height: 36px;
	float: left;
	margin: 0 0 18px 0;
  width: 700px;
}
#site-title a {
	font-weight: bold;
  text-decoration: none;
	color: #fff;
}
#site-description {
	clear: right;
  float: right;
  font-style: italic;
  margin: 14px 0 18px 0;
  width: 220px;
	color: #cfd8dc;
}
.clear {
	clear:both;
}

h1 {
	clear: both;
  font-weight: normal;
	line-height: 1.5em;
	margin: 0 0 20px 0;
	display: block;
  font-size: 2em;
}

#article {
	flex: 1;
	order: 1;
	min-width: 320px;
	margin-top:20px;
	font-size: 16px;
  line-height: 24px;
	margin-left:15px;
	margin-right:15px;
}
.flex {
	display: flex;
}
#sidebar {
	min-width: 230px;
	order: 2;
}
/*.able-playlist {
	background-color: #000000 !important;
	color:#000000 !important;
}
.able-playlist li{
	border-radius: 0px !important;
}
.able-playlist li:hover{
	background-color: #000000 !important;
	color:#FFFFFF !important;
}
.able-button-handler-preferences, .able-button-handler-faster, .able-button-handler-slower, .able-button-handler-forward, .able-button-handler-rewind {
	display:none !important;
}*/
footer {
	margin-top: 3rem;
	border-top: 1px solid #bdbdbd;
  right: 0;
  left: 0;
	clear:both;
  padding: 1rem;
  text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.widget-title {
	font-size:1.4em;
}

.footerfont, .footerfont a, .footerfont a:hover {


	color:#212121;
	font-size: 15px;
	text-decoration: none;
}

#contact {
	margin-top: 10px;
	padding:5px;
	border: 1px solid #DADADA;
	font-size: 18px;
	border-radius: 5px;
}
#contact i {
	margin: 4px;
}
