<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content=" LEISERJAZZ - Der Name spricht für sich">
	<meta name="keywords" content="LEISERJAZZ blog, LEISERJAZZ">
	<link rel="canonical" href="http://leiserjazz.at/">

	<title>LEISER JAZZ | Die leiseste Jazzband Europas</title>

	<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/fonts.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>

{% if page.support contains 'jquery' %}
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
{% endif %}
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>