<h3 class="widget-title">Kontakt</h3>
<div id="contact">
	<i class="fa fa-address-card-o" aria-hidden="true"></i>Hannes Laszakovits<br />
	<i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+43699191931267">+43 (0) 699 191931267</a><br />
	<i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@leiserjazz.at">info@leiserjazz.at</a><br />
</div>

<h3 class="widget-title">LeiserJazz Hörproben</h3>
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/7394614&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
